
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Montserrat;
    }

    li {
        list-style: none;
    }

    
    main {
        background-color: #151922;
        height: 100vh;
        color: white;
    }

    footer {
        height: 70px;
        background-color:#282828;
        color: white;
    }

    .main-container {
        display: flex;
    }

    .home-menu {
        background-color: #000000;
        width: 30%;
        line-height: 30px;
        padding-left: 30px;
        
    }

    .article-menu {
        background-color: #151922;
        width: 70%;
    }  
    
    .play-list {
       
    }