*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* Reset */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: Montserrat;
}

/* Reset */

.span-menu {
     display: none;
}

/* <!--Main site --> */

main {
    height: calc(100vh - 90px) ;
}

/* <!-- Home - Menu --> */

.container {
    display: flex;
    height: 100%;
}
.container .home-bar {
    background-color: aqua;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.container .home-bar #logo {
    padding: 5px 10px;
    background-color: brown;
}

.container .home-bar #logo .logo {
    height: 30px;
    width: 30px;  
}
.container .home-bar #logo .logo-bg {
    display: none;
    width: 130px;
}

.container .home-bar .list-home #logo-menu {

    width: 25px;
    height: 30px;
}
.container .home-bar #menu {
    padding: 20px 10px;
    background-color: yellowgreen;

}

.container .home-bar #menu #logo-menu li a {

    color: #5b5b5b;
}



.container .home-bar #playlist {
    background-color: grey;

}
.container .home-bar #profile {
    background-color: burlywood;
    margin-top: auto;
}


/* <!-- Home - Menu --> */

.home-music {
   
    flex-grow: 1;
    height:  90px;
    background-color: chartreuse;
    
}

/* Footer bar */
footer {
    height: 90px;
    background-color: brown;
}