
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Montserrat;
    }
    
    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    .logo {
        height: 30px;
        width: 30px;
    }

    .brand {
        display: none;
    }

    .span-menu {
         display: none;
    }

  main {
        height: 100vh;
    }

    .container {
        display: flex;
        height: 100%;
    }

    footer {
        height: 90px;
        background-color: brown;
    }

    .home-bar {
        background-color: aqua;
    }

    .home-music {
        width: 100%;
        background-color: blueviolet;
    }

