/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    color: #5c5c5c;
}

h2 {
    color: white;
    font-size: 1,50em;
}

.span-menu {
    list-style: none;
    color: white;
}

.span-menu {
    display: none;
}

body {
    height: 100vh;
    
}

.container {
    height: calc(100% - 90px);
    display: flex;
}


/* .container main {
    flex-grow: 1;
} */

/* home-bar */

.home-bar {
    height: calc(100vh - 90px);
}

.container .home-bar {
    background-color: #000000;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.container .home-bar #logo {
    padding: 10px 10px;
}

.container .home-bar #logo .logo {
    height: 30px;
    width: 30px;
}

.container .home-bar #logo .logo-bg {
    display: none;
    width: 130px;
}

.container .home-bar .list-home #logo-menu {
    width: 25px;
    height: 30px;
}

.container .home-bar #menu {
    padding: 20px 15px;
}

.container #menu .list-home #logo-menu {
    color: white;
}

.container .home-bar #menu .list-home #logo-menu li a {
    display: flex;
    justify-content: center;
    color: #5b5b5b;
}

.container .home-bar #playlist #creation {
    height: 60px;
    width: 160px;
}

.container #playlist h3 {
    padding-top: 5px;
    padding-bottom: 10px;
}

h3 {
    color: white;
}

.container #playlist li {

    color: #5c5c5c;
}

.container .home-bar #playlist {
    line-height: 25px;
    padding: 10px;
}

#playlist {
    display: none;
}

.container .home-bar #profile {
    margin-top: auto;
}

#profile {
    color: white;
    padding: 10px;
    font-size: 0.80em;
}

#profile .app {
    padding-bottom: 10px;
}

#profile .utente {
    margin-top: 5px;
}

.span-profile,
hr {
    color: white;
    display: none;
}

/* home-bar */

/* top-main */

.top-main {
    flex-grow: 1;
    overflow-y: auto;
    background-color: yellowgreen;

}

.sticky {

    align-items: center;
    text-align: right;
    padding: 15px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
}

.upgrade {
    font-size: 0.75em;
    border: 1px solid #ffff;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    /* display: none; */
}

.main-nav .list-menu {
    font-size: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 20px; 
}

.album-container {
    padding: 20px 20px;

}

.top-main .album-container>section {
    margin-bottom: 20px;
}

.album-container .recently-played .album {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.album-container .recently-played .album > * {
    height: 280px;
    width: calc(100% -40px)/2;
    flex-shrink: 0;
    background-color: brown;
    border: 2px solid black;

}





















/* top-main */


/* footer */

footer {
    height: 90px;
    background-color: #282828;
}

/* footer */


/* media query tablet */

@media (min-width: 768px) {

    .main-nav .list-menu {
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        
}

.album-container .recently-played .album > * {

    width: calc(100%/4);

}



}