
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Montserrat;
    }

        /* main section */
    main {
        background-color: #151922;
        height: 100vh;
        color: white;
    }

    footer {
        height: 70px;
        background-color:#282828;
        color: white;
    }

    .main-container {
        display: flex;
        

    }

    .big-logo {
        display: none;
    }

    .col-menu {
        display: inline;
        background-color: #000000; 
    }

    .col-article {
        background-color: yellowgreen;
    }

    svg {
        width: 30px;
        height: 20px;
    }

    span .play-list {
        font-size: 0.75em;
        font-weight: 150;    
    }


    h2 {
        font-size: 1rem;
        font-weight: 600;
    }

    .home-list, h2, .play-list {
        display: none;
    }

    




 

    /* main section */

